.metrouicss .page {
	//overflow-x: hidden;
	//overflow-y: hidden;
}
//.tile-content{text-align: center}

.logo-small{
	  position: absolute;
	  width: 64px;
	  height: 64px;
	  top: 50%;
	  left: 50%;
	  margin-left: -32px;
	  margin-top: -32px;
}

.logo-half{
	  position: absolute;
	  width: 128px;
	  top: 50%;
	  left: 50%;
	  margin-left: -64px;
	  margin-top: -32px;
}
img[src^="http://lain.bgm.tv/"]{
	float: left !important;
	margin-right: 10px;
}
body{
	background-image: url("../img/bg.jpg");
}